# Copy this file to .env.<stage> (for local dev use .env.dev)
# Example: cp .env.example .env.dev

# OIDC / Sign-in Configuration
OIDC_CLIENT_ID=<your-client-id>
OIDC_CUSTOM_DOMAIN=https://auth.login-connexion.alpha.canada.ca
OIDC_CLIENT_SECRET=<your-client-secret>
